body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f3eaff, #dac0ff);
    height: 100vh;
    width: 100vw;
}


.textarea-container {
    background-color: #f2ebfe;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#submitBtn {
    background-color: #690cb0;
    color: white;
    padding: 7px 15px;
    margin-left: 20px;
    border-radius: 10px;
}

#resetBtn {
    background-color: white;
    color: black;
    padding: 7px 20px;
    margin-left: 30px;
    border-radius: 10px;
}

#timer {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
}

.seconds {
    margin-left: 10px;
    margin-top: 55px;
}

.main-heading {
    color: #690cb0;
    font-size: 55px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
}

.para {
    margin-left: 20px;
    margin-bottom: 20px;
}

.image {
    margin-left: 20px;
    margin-bottom: 20px;
}

.result {
    color: #9aa5b1;
    margin-left: 20px;
    margin-top: 20px;
}
